*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body 
{
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
}

h1 
{
  color: #007acc;
}